<div class="flex items-center w-full">
  <div class="ml-auto flex gap-6">
    @if (hours > 0) {
    <div class="flex flex-col items-center gap-2 w-24">
      <div
        class="flex h-16 w-24 items-center justify-center rounded-xl bg-gradient-to-b from-snow to-mist shadow-md"
      >
        <p class="text-charcoal text-2xl font-bold tracking-tight">
          {{ hours | number : '2.0' }}
        </p>
      </div>
      <p class="text-ash text-sm font-medium">Hours</p>
    </div>
    }

    <div class="flex flex-col items-center gap-2 w-24">
      <div
        class="flex h-16 w-24 items-center justify-center rounded-xl bg-gradient-to-b from-snow to-mist shadow-md"
      >
        <p class="text-charcoal text-2xl font-bold tracking-tight">
          {{ minutes | number : '2.0' }}
        </p>
      </div>
      <p class="text-ash text-sm font-medium">Minutes</p>
    </div>

    <div class="flex flex-col items-center gap-2 w-24">
      <div
        class="flex h-16 w-24 items-center justify-center rounded-xl bg-gradient-to-b from-snow to-mist shadow-md"
      >
        <p class="text-charcoal text-2xl font-bold tracking-tight">
          {{ seconds | number : '2.0' }}
        </p>
      </div>
      <p class="text-ash text-sm font-medium">Seconds</p>
    </div>
  </div>
</div>
