<header
  class="flex items-center justify-between whitespace-nowrap border-b border-solid border-b-blue_black px-10 py-3"
>
  <a routerLink="/" class="no-underline">
    <div class="flex items-center gap-4 text-white">
      <div class="size-6">
        <img src="/assets/png/logo-1.png" alt="ExamMate Logo" />
      </div>
      <h2
        class="text-white text-lg font-bold leading-tight tracking-[-0.015em]"
      >
        ExamMate
      </h2>
    </div>
  </a>
  <div class="flex flex-1 items-center justify-end gap-8">
    @for (link of navLinks; track link.url) {
      <a
          [routerLink]="link.url"
          routerLinkActive="text-gray-300 border-b-2 border-blue_black"
          [routerLinkActiveOptions]="{ exact: true }"
          class="text-white hover:text-gray-300 font-medium transition-colors duration-200 pb-1"
        >
          {{ link.label }}
        </a>
    }
    <!-- <img
      class="bg-center bg-no-repeat aspect-square bg-cover rounded-full size-10"
      src="/assets/png/user.png"
      alt="user Logo"
    /> -->
  </div>
</header>
