@if (visible) {
  <div
    class="bg-blue_black hover:bg fixed top-4 right-4 flex items-center gap-3 p-2 rounded-lg shadow-lg text-white animate-fadeIn z-50 min-w-[250px]"
  >
    <!-- Icon -->
    <span class="text-xl">{{ icon }}</span>

    <!-- Message -->
    <p class="flex-1 text-sm font-medium">{{ message }}</p>

    <!-- Close Button -->
    <button
      type="button"
      (click)="closeToast()"
      class="text-white text-2xl font-bold hover:opacity-80 focus:outline-none"
      aria-label="Close"
    >
      ×
    </button>
  </div>
} 