<div class="flex flex-wrap justify-between gap-3 p-4">
  <p
    class="text-white tracking-light text-[32px] font-bold leading-tight min-w-72"
  >
    Categories
  </p>
</div>
<div class="grid grid-cols-[repeat(auto-fit,minmax(158px,1fr))] gap-3 p-4">
  @if (quizData.length === 0) {
  <p class="text-white">No quizzes available at the moment.</p>
  } @else { @for (quiz of quizData; track quiz.id ) {
  <div
    [routerLink]="['/quiz', quiz.id]"
    class="flex flex-1 gap-3 rounded-lg border border-[#343465] bg-[#1a1a32] hover:bg-blue_black_hover p-4 items-center cursor-pointer"
  >
    <h2 class="text-white text-base font-bold leading-tight">
      {{ quiz.name }}
    </h2>
  </div>
  } }
</div>
