<div
  class="relative flex h-auto min-h-screen w-full flex-col bg-gray-50 dark:bg-slate-900 dark group/design-root overflow-x-hidden transition-colors duration-300"
  style="font-family: 'Space Grotesk', 'Noto Sans', sans-serif"
>
  <div class="layout-container flex h-full grow flex-col">
    <app-header />
    <div class="gap-1 px-6 flex flex-1 py-5 ">
      <app-side-bar />
      <div class="layout-content-container flex flex-col flex-1">
        <router-outlet />
      </div>
    </div>
  </div>
</div>
