<div class="layout-content-container flex flex-col w-80">
  <div
    class="flex h-full min-h-[700px] flex-col justify-between bg-dark_gray_blue p-4"
  >
    <div class="flex flex-col gap-4">
      <div class="flex flex-col gap-2">
        <!-- Navigation Links -->
        @for (link of navLinks; track link.url) {
        <div
          class="flex items-center gap-3 px-3 py-2 rounded-lg bg-blue_black hover:bg-blue_black_hover cursor-pointer"
          [routerLink]="link.url"
          routerLinkActive="bg-blue_black"
        >
          <img
            [src]="link.icon"
            alt="ExamMate Logo"
            class="filter invert"
          />
          <p class="text-white text-sm font-medium leading-normal">{{link.label}}</p>
        </div>
        }
      </div>
    </div>

    <!-- Logout Button at Bottom -->
    <div class="mt-auto">
      <button
        class="flex items-center gap-3 px-3 py-2 rounded-lg"
        (click)="logout()"
      >
        <img src="assets/svg/logout.svg" alt="Logout Icon" class="h-6 w-6" />
        <span class="text-white text-sm font-medium">Logout</span>
      </button>
    </div>
  </div>
</div>
