@if (!termsAccepted) {
<div class="flex flex-wrap justify-between gap-3 p-4">
  <p
    class="text-white tracking-light text-[32px] font-bold leading-tight min-w-72"
  >
    Quiz Terms & Conditions
  </p>
</div>
<ul class="space-y-3 text-white p-4">
  <li class="flex items-start gap-3">
    <span class="text-blue-600 mt-1">✔️</span>
    <span>You must complete the quiz within the given time limit.</span>
  </li>
  <li class="flex items-start gap-3">
    <span class="text-blue-600 mt-1">✔️</span>
    <span>Answers cannot be changed once submitted.</span>
  </li>
  <li class="flex items-start gap-3">
    <span class="text-blue-600 mt-1">✔️</span>
    <span>Cheating or using external help is not allowed.</span>
  </li>
  <li class="flex items-start gap-3">
    <span class="text-blue-600 mt-1">✔️</span>
    <span>Your score will be final once the quiz is submitted.</span>
  </li>
</ul>

<button
  class="text-white bg-royal_blue hover:bg-royal_blue_hover active:bg-black m-4 p-4 rounded-lg transition"
  (click)="loadQuiz()"
>
  Agree & Continue
</button>

} @if (termsAccepted && !loadingQuiz) {
<section class="w-full">
  @if (quizData && quizData.questions && quizData.questions.length) {
  <div class="flex justify-between">
    <div class="flex flex-wrap justify-between gap-3 p-4">
      <p
        class="text-white tracking-light text-[32px] font-bold leading-tight min-w-72"
      >
        Quiz: {{ quizData.quizTitle }}
      </p>
    </div>
    <app-timer-component
      [remainingSeconds]="remainingSeconds"
      (timeUp)="submitQuiz()"
    ></app-timer-component>
  </div>
  <app-question-component
    [question]="quizData.questions[currentQuestionIndex]"
    [questionNumber]="currentQuestionIndex + 1"
    [totalQuestions]="quizData.questions.length"
    [selectedAnswer]="
      getSelectedAnswer(quizData.questions[currentQuestionIndex].id)
    "
    (answerSelected)="onAnswerSelected($event)"
  ></app-question-component>

  <div class="flex justify-between px-4 py-3">
    @if (currentQuestionIndex > 0) {
    <button
      class="flex min-w-[6.5rem] max-w-[30rem] items-center justify-center rounded-lg h-10 px-4 text-black bg-gray-100 hover:bg-gray-200 border border-gray-900 text-sm font-bold"
      (click)="prevQuestion()"
    >
      Previous
    </button>
    } @else {
    <div class="min-w-[6rem] h-10"></div>
    }
    <div class="relative min-w-[6.5rem] max-w-[30rem] h-10">
      @if (quizData.questions.length > currentQuestionIndex + 1) {
      <button
        class="absolute inset-0 flex items-center justify-center rounded-lg px-4 text-white bg-royal_blue hover:bg-royal_blue_hover active:bg-black text-sm font-bold disabled:cursor-not-allowed disabled:bg-gray-300 disabled:text-gray-500"
        [disabled]="!hasAnswerForCurrentQuestion()"
        (click)="nextQuestion()"
      >
        Next
      </button>
      } @else {
      <button
        class="absolute inset-0 flex items-center justify-center rounded-lg px-4 text-white bg-royal_blue hover:bg-royal_blue_hover active:bg-black text-sm font-bold disabled:cursor-not-allowed disabled:bg-gray-300 disabled:text-gray-500 whitespace-nowrap"
        [disabled]="!hasAnswerForCurrentQuestion()"
        (click)="submitQuiz()"
      >
        @if (!submittingQuiz) { Submit } @if (submittingQuiz) {
        <img
          src="assets/svg/button-loading.svg"
          alt="Loading"
          class="h-5 w-5 mr-2 animate-spin filter invert"
        />
        Loading... }
      </button>
      }
    </div>
  </div>
  }
</section>
 }
 @if(termsAccepted && loadingQuiz){
  <div class="flex justify-center items-center">
  <img
          src="assets/svg/button-loading.svg"
          alt="Loading"
          class="h-20 w-20 animate-spin filter invert"
        />
    
  </div>
 } 

@if (quizSubmissionResult) {
<div
  class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50"
>
  <div
    class="bg-dark_gray_blue text-white rounded-lg shadow-lg p-6 w-full max-w-sm text-center"
  >
    <h2 class="text-xl font-bold mb-4">Quiz Result</h2>

    <p>
      Correct Answers:
      <span class="font-semibold">{{ quizSubmissionResult.score }}</span>
    </p>
    <p>
      Total Questions:
      <span class="font-semibold">{{
        quizSubmissionResult.totalQuestions
      }}</span>
    </p>
    <p>
      Score:
      <span class="font-semibold"
        >{{
          (quizSubmissionResult.score / quizSubmissionResult.totalQuestions) *
            100 | number : "1.0-2"
        }}%</span
      >
    </p>

    <div class="mt-6">
      <button
        class="px-4 py-2 bg-royal_blue text-white rounded hover:bg-royal_blue_hover"
        (click)="viewResults()"
      >
        View Results
      </button>
    </div>
  </div>
</div>
}
